@import "open-props/style" layer(ui);
@import "open-props/normalize" layer(reset);

@layer base {
  :root {
    --ff-serif: "Space Grotesk", sans-serif;
  }

  body {
    font-family: var(--ff-serif);
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 4px;
  }
}