@import "open-props/style" layer(ui);
@import "open-props/normalize" layer(reset);

@layer base {
  :root {
    --ff-serif: "Space Grotesk", sans-serif;
  }

  body {
    font-family: var(--ff-serif);
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: light-dark(oklch(86.898% 0.01994 252.99), oklch(44.554% 0.0375 257.307));
    border-radius: 4px;
  }
}

@layer theme {
  body {
    --surface-1: light-dark(var(--gray-0), var(--gray-9));
    --surface-2: light-dark(var(--gray-1), var(--gray-8));
    --surface-3: light-dark(var(--gray-2), var(--gray-7));
    --surface-4: light-dark(var(--gray-3), var(--gray-6));

    --text-1: light-dark(var(--gray-9), var(--gray-1));
    --text-2: light-dark(var(--gray-7), var(--gray-3));
    --text-3: light-dark(var(--gray-6), var(--gray-4));

    --border-color: light-dark(var(--gray-3), var(--gray-7));

    --canvas-bg: light-dark(var(--gray-2), var(--gray-9));
    --canvas-dot: light-dark(var(--gray-5), var(--gray-7));

    --block-shadow:
      0 3px 5px -2px hsl(var(--shadow-color) / 0.1),
      0 7px 14px -5px hsl(var(--shadow-color) / 0.1);

    --block-bg: light-dark(oklch(99.107% 0.00011 271), var(--gray-8));
  }

  body[data-theme="light"] {
    color-scheme: light;
  }

  body[data-theme="dark"] {
    color-scheme: dark;
  }
}